
/* ESPECIFICIDAD: 001 */
header{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ESPECIFICIDAD: 002 */
header h1 {
    margin: 0;
}

/* ESPECIFICIDAD: 001 */
nav{
    display: flex;
    font-size: 1.1em;
}

/* ESPECIFICIDAD: 002 */
nav a{
   margin: 1em; 
}


/* ESPECIFICIDAD: 001 */
h3{
    margin-bottom: 4%;
}


/* ESPECIFICIDAD: 001 */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}


/* ESPECIFICIDAD: 002 */
section > div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

/* ESPECIFICIDAD: 003 */
section > div > div {
    flex: 1;
    text-align: justify;
    font-size: large;
}


/* ESPECIFICIDAD: 001 */
section, aside{
    padding: 4.5%;
}


/* ESPECIFICIDAD: 002 */
dl dt{
    padding:  0.3em 0.5em;
    margin-top: 1em;
}


/* ESPECIFICIDAD: 002 */
dl dd{
    padding: 0.5em 0.8em;
    margin: 0.3em 0 0.5em 1.5em;
}


/* ESPECIFICIDAD: 001 */
table{
    margin: 1.5em 0;
}


/* ESPECIFICIDAD: 001 */
th{
    padding: 0.5em;
    border: 0.1em solid #333333;
}


/* ESPECIFICIDAD: 001 */
td{
    padding: 0.5em;
}


/* ESPECIFICIDAD: 001 */
caption{
    padding-bottom: 1em;
}

